<!--<?xml version="1.0" encoding="UTF-8"?>-->
<!--<persistence version="2.2"-->
<!--	xmlns="http://xmlns.jcp.org/xml/ns/persistence" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"-->
<!--	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/persistence http://xmlns.jcp.org/xml/ns/persistence/persistence_2_2.xsd">-->
<!--	-->
<!--	&lt;!&ndash; 一個persistence.xml 中可以設定多個 Persistence Unit ， 每個 Persistence Unit 可當作是一個資料庫連結設定 &ndash;&gt;-->
<!--    &lt;!&ndash; <persistence-unit name="emp"> 的 name 名稱即作為 Persistence Unit 的識別名稱 &ndash;&gt;-->
<!--    &lt;!&ndash; 見 JPAUtil.java的第10行 呼叫此 Persistence Unit 的識別名稱 emp &ndash;&gt;-->
<!--	<persistence-unit name="daoMappingClass" transaction-type="RESOURCE_LOCAL">-->

<!--        <class>com.bookshop.model.Book</class>-->
<!--		<class>com.bookshop.model.OrderDetail</class>-->
<!--		<class>com.bookshop.model.OrderDetails</class>-->

<!--		<properties>-->
<!--			-->
<!--			<property name="javax.persistence.jdbc.driver" value="com.mysql.cj.jdbc.Driver" />-->
<!--			<property name="javax.persistence.jdbc.url" value="jdbc:mysql://localhost:3306/bookshop?serverTimezone=Asia/Taipei" />-->
<!--			<property name="javax.persistence.jdbc.user" value="root" />-->
<!--			<property name="javax.persistence.jdbc.password" value="123456" />-->
<!--			-->
<!--            &lt;!&ndash; 以下的屬性名稱結果同上 &ndash;&gt;-->
<!--            &lt;!&ndash; <property name="hibernate.connection.driver_class" value="com.mysql.cj.jdbc.Driver" /> &ndash;&gt;-->
<!--            &lt;!&ndash; <property name="hibernate.connection.url" value="jdbc:mysql://localhost:3306/db01?serverTimezone=Asia/Taipei" /> &ndash;&gt;-->
<!--            &lt;!&ndash; <property name="hibernate.connection.username" value="root" /> &ndash;&gt;-->
<!--            &lt;!&ndash; <property name="hibernate.connection.password" value="123456" /> &ndash;&gt;-->
<!--			-->
<!--			-->
<!--			<property name="hibernate.dialect" value="org.hibernate.dialect.MySQL8Dialect" />-->
<!--			<property name="hibernate.show_sql" value="true" />-->
<!--			-->
<!--			-->
<!--            &lt;!&ndash; 以下第38行可自動create table    (第一次執行時使用) &ndash;&gt;-->
<!--            -->
<!--            &lt;!&ndash; (使用sequence的資料庫，以下才會同時自動create sequence) &ndash;&gt;-->
<!--            &lt;!&ndash; 以下可自動create sequence (第一次執行時使用) - 如未指定【自訂的】sequence名稱，則自動執行: create sequence hibernate_sequence start with 1 increment by 1 &ndash;&gt; -->
<!--            &lt;!&ndash; 以下可自動create sequence (第一次執行時使用) - 如有指定【自訂的】sequence名稱，則自動執行: create sequence       【自訂的名稱】       start with 1 increment by 1 &ndash;&gt;-->
<!--            -->
<!--&lt;!&ndash;             <property name="hibernate.hbm2ddl.auto" value="create" />  &ndash;&gt;-->
<!--		-->
<!--		</properties>-->
<!--		-->
<!--	</persistence-unit>-->


<!--</persistence>-->
